{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="container">
        <h1>{{ title }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.message) }}
            {{ form_row(form.expire_a) }}
            <button type="submit" class="btn btn-primary">Publier l'information</button>
        {{ form_end(form) }}
    </main>
{% endblock %}
