{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <main class="container">
        <h1>Utilisateur</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Avatar</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Actif</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for utilisateur in listeUtilisateur %}
                <tr>
                    <td class="align-middle">{{ utilisateur.id }}</td>
                    <td class="align-middle"><img class="rounded" src="{{ asset('upload/avatar/' ~ utilisateur.avatar) }}" height="40px" width="40px"></td>
                    <td class="align-middle">{{ utilisateur.nom }}</td>
                    <td class="align-middle">{{ utilisateur.prenom }}</td>
                    <td class="align-middle">{{ utilisateur.email }}</td>
                    {% if utilisateur.actif == "0" %}
                        <td class="align-middle"><div class="btn btn-danger"><i class="fas fa-times" style="width: 15px;height: 15px"></i></div></td>
                    {% else %}
                        <td class="align-middle"><div class="btn btn-success"><i class="fas fa-check" style="width: 15px;height: 15px"></i></div></td>
                    {% endif %}
                    {#<td class="align-middle"><a class="btn btn-primary" href="{{ path('user_update', {'id': user.id}) }}"><i class="far fa-edit"></i> Edit</a> <a class="btn btn-danger" href="{{ path('user_delete', {'id': user.id}) }}"><i class="far fa-trash-alt"></i> Delete</a></td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
