{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset('build/css/planning.css') }}">{% endblock %}

{% block body %}
    <section class="col-12">
        <div class="row">
            <div class="col-1"></div>
            {% for evenement in planning %}
                <div class="col-2 text-center planning">
                    <h1 class="align-middle">
                        {% if  evenement.date|date('w') == '0' %}
                            Dimanche
                        {% elseif evenement.date|date('w') == '1' %}
                            Lundi
                        {% elseif evenement.date|date('w') == '2' %}
                            Mardi
                        {% elseif evenement.date|date('w') == '3' %}
                            Mercredi
                        {% elseif evenement.date|date('w') == '4' %}
                            Jeudi
                        {% elseif evenement.date|date('w') == '5' %}
                            Vendredi
                        {% elseif evenement.date|date('w') == '6' %}
                            Samedi
                        {% endif %}
                    </h1>
                    <h1><a href="{{ path('activite_page', {'id': evenement.activite.id}) }}">{{ evenement.activite.titre }}</a></h1>
                    <p>{{ evenement.activite.soustitre }}</p>
                    <p>{{ evenement.date|date('d-m-Y H:i') }}</p>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                        {% set trouve = false %}

                        {% for utilisateur in evenement.utilisateurs if utilisateur.id == app.user.id %}
                            {% set trouve = true %}
                        {% endfor %}

                        {% if trouve == true %}
                            <a class="btn btn-danger" href="{{ path('participe_pas', {'id': evenement.id}) }}">Je ne participe pas</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('participe', {'id': evenement.id}) }}">Je participe</a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-primary" href="{{ path('contact') }}">Essayer l'activité</a>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="col-1"></div>
        </div>
    </section>
{% endblock %}
