{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <section class="col-10 m-auto">
        <article>
            <h1>Activités</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Sous-titre</th>
                    <th scope="col">Image</th>
                    <th scope="col">Creer à</th>
                    <th scope="col">Modifier à</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for activite in listeActivite %}
                    <tr>
                        <td class="align-middle"><a href="{{ path('activite_page', {'id': activite.id}) }}">{{ activite.titre }}</a></td>
                        <td class="align-middle">{{ activite.soustitre }}</td>
                        <td class="align-middle"><img class="rounded" src="{{ asset('activite/image/' ~ activite.image) }}" height="40px" width="40px"></td>
                        <td class="align-middle">{{ activite.creera|date('d-m-Y H:i:s')}}</td>
                        <td class="align-middle">{{ activite.modifiera|date('d-m-Y H:i:s') }}</td>
                        <td class="align-middle"><a class="btn btn-primary" href="{{ path('activite_modifier', {'id': activite.id}) }}"><i class="far fa-edit"></i> Editer</a> <a class="btn btn-danger" href="{{ path('activite_supprimer', {'id': activite.id}) }}"><i class="far fa-trash-alt"></i> Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
{% endblock %}
