{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
{% endblock %}

{% block body %}
    <section class="container">
        <article>
            <h1>{{ title }}</h1>
            {{ form_start(form) }}
            {{ form_row(form.date, {'value' : form.date.vars.value|date('d-m-Y H:i')}) }}
            {{ form_row(form.activite) }}
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            {{ form_end(form) }}
        </article>
    </section>
    <script>
        $("#planning_date").flatpickr(
            {
                "locale": "fr",
                enableTime: true,
                altInput: true,
                time_24hr: true,
                altFormat: "Le l j F Y à H:i",
                dateFormat: "d-m-Y H:i",
            }
        );
    </script>
{% endblock %}
