<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Projet Symfony{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/css/index.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Projet UGNY_TDS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mr-auto">
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Utilisateur
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('utilisateur_liste') }}">Liste des utilisateurs</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Article
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('article_creer') }}">Creer un article</a>
                            <a class="dropdown-item" href="{{ path('article_liste') }}">Liste des articles</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Catégorie
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('categorie_creer') }}">Creer une catégorie</a>
                            <a class="dropdown-item" href="{{ path('categorie_liste') }}">Liste des catégories</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Activité
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('activite_creer') }}">Creer une activité</a>
                            <a class="dropdown-item" href="{{ path('activite_liste') }}">Liste des activités</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Planning
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('planning_creer') }}">Ajouter un événement</a>
                            <a class="dropdown-item" href="{{ path('planning_liste') }}">Planning</a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
        {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
            {#<div class="navbar-text mr-2">#}
                {#<a href="{{ path('profile') }}">{{ app.user.firstname }} {{ app.user.lastname }}</a>#}
            {#</div>#}
        {#{% endif %}#}
        {#<form class="form-inline my-2 my-lg-0" method="post" name="rechercher" action="{{ path('search') }}">#}
            {#<input class="form-control mr-sm-2" name="input_rechercher" type="search" placeholder="Rechercher" aria-label="Rechercher">#}
            {#<button class="btn btn-primary my-2 my-sm-0" name="rechercher">Rechercher</button>#}
        {#</form>#}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>
                <a href="{{ path('deconnexion') }}" class="btn btn-danger ml-2" name="deconnexion">Deconnexion</a>
            </div>
        {% else %}
            <div>
                <a href="{{ path('connexion') }}" class="btn btn-primary ml-2" name="connexion">Connexion</a>
            </div>
        {% endif %}
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>