{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset('css/article_accueil.css') }}">{% endblock %}

{% block body %}
    <section class="container">
        <article>
            <h1>{{ categorie.label }}</h1>
            <div class="row">
                {% for article in categorieArticles %}
                    {% if article.afficher == true %}
                        <div id="carouselExampleIndicators" class="carousel slide col-3 p-0" data-ride="carousel">
                            <div class="carousel-inner article">
                                {% set premier = true %}
                                {% for image in article.images %}
                                    <a href="{{ path('article_page', {'id': article.id}) }}" class="carousel-item {{ premier ? ' active' : '' }}" style="background-image: url({{ asset('article/image/' ~ image.url) }})">
                                        <p class="align-middle">{{ article.titre }}</p>
                                    </a>
                                    {% set premier = false %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </article>
    </section>
{% endblock %}
