{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset('css/article_accueil.css') }}">{% endblock %}

{% block body %}
    <section class="section_article">
        <article>
            <div class="row contenu col-12">
                <h2 class="col-12">Les articles les plus récents</h2>
                <div class="row col-12 p-0 contenu_article">
                    {% for article in listeArticle %}
                        {% if article.afficher == true %}
                            <div id="carouselExampleIndicators" class="carousel slide col-3 p-0" data-ride="carousel">
                                <div class="carousel-inner article">
                                    {% set premier = true %}
                                    {% for image in article.images %}
                                        <a href="{{ path('article_page', {'id': article.id}) }}" class="carousel-item {{ premier ? ' active' : '' }}" style="background-image: url({{ asset('article/image/' ~ image.url) }})">
                                            <p class="align-middle">{{ article.titre }}</p>
                                        </a>
                                        {% set premier = false %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row contenu contenu_categorie col-12">
                <h2 class="col-12">Les articles par activités</h2>
                <div class="row m-0 p-0 col-12">
                    {% set compteur = false %}
                    {% for categorie in listeCategorie %}
                        {% if compteur == false %}
                            <a href="{{ path('categorie_trier', {'id': categorie.id}) }}" class="col-12 categorie">
                                <div class="row categorie_bloc">
                                    <img src="{{ asset('categorie/image/' ~ categorie.image) }}" alt="" class="col-3">
                                    <div class="col-9 text-center">
                                        <h3 class="col-12">{{ categorie.label }} ({{ categorie.articles|length }})</h3>
                                        <p class="col-11">{{ categorie.description }}</p>
                                        <button class="btn btn-primary bouton_droite">ACCEDER</button>
                                    </div>
                                </div>
                            </a>
                            {% set compteur = true %}
                        {% else %}
                            <a href="{{ path('categorie_trier', {'id': categorie.id}) }}" class="col-12 categorie">
                                <div class="row categorie_bloc">
                                    <div class="col-9 text-center">
                                        <h3 class="col-12">{{ categorie.label }} ({{ categorie.articles|length }})</h3>
                                        <p class="col-10">{{ categorie.description }}</p>
                                        <button class="btn btn-primary bouton_gauche">ACCEDER</button>
                                    </div>
                                    <img src="{{ asset('categorie/image/' ~ categorie.image) }}" alt="" class="col-3">
                                </div>
                            </a>
                            {% set compteur = false %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
