{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/article_page.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lecteur_mp3.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ckeditor.css') }}">
    <script src="{{ asset('js/lecteur_mp3.js') }}"></script>
{% endblock %}

{% block body %}
    {% if article.afficher == true %}
    <section class="container">
        <article>
            <div class="row">
                <a href="{{ path('article') }}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Retour aux articles</a>
            </div>
            {% for categorie in article.categories %}
                <a href="{{ path('categorie_trier', {'id': categorie.id}) }}">{{ categorie.label }}</a>
            {% endfor %}
            {{ article.contenu|raw }}
            <div class="row">
                <div class="col-3"></div>
                <div id="carouselExampleIndicators" class="carousel slide col-6" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        {#<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
                        {#<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ asset('article/image/' ~ article.image) }}" alt="First slide">
                        </div>
                        {#{% set premier = true %}#}

                        {#{% for image in article.images %}#}
                        {#<div class="carousel-item {{ premier ? ' active' : '' }}">#}
                        {#<img class="d-block w-100" src="{{ asset('article/image/' ~ image.url) }}" alt="">#}
                        {#</div>#}
                        {#{% set premier = false %}#}
                        {#{% endfor %}#}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="col-3"></div>
            </div>
            <audio id="audiotrack" preload="auto">
                <source src="{{ asset('article/audio/' ~ article.audio) }}">
            </audio>
            <div class="wrapper">
                <div id="player">
                    <div id="track">
                        <div id="progress"></div>
                    </div>
                    <div id="controls">
                        <div class="icon" id="play"></div>
                        <div class="icon" id="pause"></div>
                        <div class="icon" id="stop"></div>
                        <div class="icon" id="mute"></div>
                        <div id="volume">
                            <div id="level"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tableau_commentaire">
                <h3>Les commentaires</h3>
                <table class="col-12">
                    <tr>
                        <td class="pt-5 pb-5 fond_commentaire">
                            <table class="col-11 m-auto contenu_commentaire">
                                <tr>
                                    <td colspan="2">
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            {{ form_start(form, {'attr': {'class': 'champ_commentaire'}}) }}
                                            <div id="toolbar-container"></div>
                                            {{ form_widget(form.message, {'id': 'editor1', 'attr': {'rows': '6'}}) }}
                                            <button type="submit" class="btn btn-primary">Poster un commentaire</button>
                                            {{ form_end(form) }}
                                        {% else %}
                                            <h5 class="text-center m-3">Vous devez être connecté pour poster un commentaire.</h5>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% for commentaire in article.commentaires %}
                                    <tr>
                                        <td>
                                            <img src="{{ asset('upload/avatar/' ~ commentaire.auteur.avatar) }}" class="pt-4 pr-4 pb-4 pl-4 m-auto avatar" alt="">
                                        </td>
                                        <td class="col-12 pt-4 pb-5 commentaire">
                                            <h5 class="mb-4">{{ commentaire.auteur }}</h5>
                                            <p>{{ commentaire.message|raw }}</p>
                                            <small class="m-0 p-0"><i>Le {{ commentaire.creera|date('d-m-Y à H:i:s') }}</i></small>
                                            {% if commentaire.auteur == app.user %}
                                                <a class="btn btn-danger bouton_commentaire" href="{{ path('commentaire_supprimer', {'id': commentaire.id, 'idarticle': article.id}) }}">Supprimer</a>
                                            {% elseif is_granted('ROLE_ADMIN') %}
                                                <a class="btn btn-danger bouton_commentaire" href="{{ path('commentaire_supprimer', {'id': commentaire.id, 'idarticle': article.id}) }}">Supprimer</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
    {% endif %}
    <script>
        CKEDITOR.replace( 'editor1', {
            language: 'fr',
            toolbar: [
                { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Undo', 'Redo', 'Cut', 'Copy', 'Paste'] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align'], items: [ 'NumberedList', 'BulletedList', 'Blockquote'] },
                { name: 'insert', items: [ 'Smiley', 'SpecialChar' ] }
            ]
        });
    </script>
{% endblock %}
