{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset('build/css/article_accueil.css') }}">{% endblock %}

{% block body %}
    <section class="section_article">
        <article>
            <h4>Les articles les plus récents</h4>
            <div class="row">
                {% for article in listeArticle %}
                    {% if article.afficher == true %}
                        <a href="{{ path('article_page', {'id': article.id}) }}" class="col-3 article" style="background-image: url({{ asset('build/article/image/' ~ article.image) }})">
                            <div>
                                <p class="align-middle">{{ article.titre }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="container">
                <h4>Les articles par activités</h4>
                <div class="row">
                    {% set compteur = false %}
                    {% for categorie in listeCategorie %}
                        {% if compteur == false %}
                            <a href="{{ path('categorie_trier', {'id': categorie.id}) }}" class="col-12 categorie">
                                <div class="row categorie_bloc">
                                    <img src="{{ asset('build/categorie/image/' ~ categorie.image) }}" alt="" class="col-4">
                                    <div class="col-8 text-center">
                                        <h2 class="col-12">{{ categorie.label }}</h2>
                                        <p class="col-11">{{ categorie.description }}</p>
                                        <button class="btn btn-primary bouton_droite">ACCEDER</button>
                                    </div>
                                </div>
                            </a>
                            {% set compteur = true %}
                        {% else %}
                            <a href="{{ path('categorie_trier', {'id': categorie.id}) }}" class="col-12 categorie">
                                <div class="row categorie_bloc">
                                    <div class="col-8 text-center">
                                        <h2 class="col-12">{{ categorie.label }}</h2>
                                        <p class="col-11">{{ categorie.description }}</p>
                                        <button class="btn btn-primary bouton_gauche">ACCEDER</button>
                                    </div>
                                    <img src="{{ asset('build/categorie/image/' ~ categorie.image) }}" alt="" class="col-4">
                                </div>
                            </a>
                            {% set compteur = false %}
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
